<%= form_for @artwork, :html => { :multipart => true } do |form| %>
  <% if @artwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artwork.errors.count, "error") %> prohibited this artwork from being saved:</h2>

      <ul>
      <% @artwork.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, :placeholder => 'Title' %>
  </div>
  <div>
    <%= form.file_field :file %>
  </div><br>
  <div class="actions">
    <button class = "btn btn-primary">Add artwork</button>
  </div>
<% end %>

