<h1>Artworks</h1>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @artworks.each do |artwork| %>
  <% if artwork.user == current_user %> 
    <tr>
      <td><%= artwork.title %></td>
      <td><%= image_tag artwork.file.url(:thumb) %></td>
      <td><%= link_to 'Show', artwork %></td>
      <td><%= link_to 'Edit', edit_artwork_path(artwork) %></td>
      <td><%= link_to 'Destroy', artwork, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>  
<% end %>
</table>

<br />

<%= link_to 'New Artwork', new_artwork_path, html_options = { :class => "btn" } %>
