<div class="text-center">
  <div class="row">
    <div class="span6">

      <%= image_tag @project.file.url(:medium) %>  

    </div>
    <div class="span6" style="background-color:white">
      <div style="background-color: lightblue; margin: 10px 10px">
        <h3><%= @project.title %> <%= link_to 'Edit', edit_project_path(@project) %> |
        <%= link_to 'Back', projects_path %></h3>
        <h5>by <%= @project.user.first_name %> <%= @project.user.last_name %></h5>
      </div>
      <br>
      <p style="width:70%;margin:auto"><%= @project.description %></p>

      <% contributors = [] %>
      <% @project.grids.each do |grid| %>
        <% if grid.artwork %>
          <% contributors << grid.artwork.user %>
        <% end %>
      <% end %>
      <% num_unique_contributors = contributors.uniq.length %>

      <h4><%= num_unique_contributors %> backers</h4>

      <h4>£<%= 10 * Grid.where("project_id = ?", @project).length %> of £<%= @project.target_price %> collected</h4>

      <div class="progress" style="width: 60%;">
        <div class="bar" style="width: <%= (@project.grids.length.to_f / @project.target_price.to_f) * 1000 %>%;"></div>
      </div>

      <div class="countdown" data-time="<%= @project.end_time %>" style="width:250px;margin:auto"></div>
    </div>
    
  </div>
  <br>
  <br>

  <div id="project-container" style="width:1020px;margin:auto">

    <div id="table-background">
      <table id="grid-table" data-project-id="<%= @project.id %>">
        <thead>
          <tr>
            <% 13.times do |num| %>
              <th><%= num if num > 0 %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% 1.upto(8) do |row_num| %>
          <tr> 
            <th>
              <b><%= row_num %></b>
            </th>
            <% 1.upto(12) do |col_num| %>

              <% artwork = find_artwork_by_grid_space(@project.id, col_num, row_num) %>

              <% if disabled_grid?(col_num, row_num) %>
                <td class="<%= inactive_grid?(col_num, row_num) %>" data-row-num="<%= row_num %>" data-col-num="<%= col_num %>" data-toggle="tooltip" title="Not Available">
              <% else %>
                <td class="<%= inactive_grid?(col_num, row_num) %>" data-row-num="<%= row_num %>" data-col-num="<%= col_num %>" href="#myModal" data-toggle="modal" data-toggle="tooltip" title="Available for £10">
              <% end %>

                  <% if artwork %>
                    <% if artwork.user == current_user %>
                      <%= image_tag artwork.file.url, :"data-toggle" => "tooltip", title: "Drag it around #{artwork.user.first_name}", alt: "Drag it around #{artwork.user.first_name}", id: find_grid_id_by_project_x_y(@project.id, col_num, row_num), class: "image_container_draggable" %>
                    <% else %>
                      <%= image_tag artwork.file.url, :"data-toggle" => "tooltip", title: "#{artwork.user.first_name} contributed £10", alt: "#{artwork.user.first_name} contributed £10", id: find_grid_id_by_project_x_y(@project.id, col_num, row_num), class: "image_container" %>
                    <% end %>
                  <% end %>
                </td>

            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
      <br>
    </div>
  </div>

  <div class="add-artwork-form">
    <% if current_user %>

      <p class="text-center"><br>
        <!-- Button to trigger modal -->
        <!-- <a href="#myModal" role="button" class="btn btn-primary btn-large" data-toggle="modal">Add artwork</a> -->
         
        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel" class="text-center">Add artwork</h3>
          </div>
          <div class="modal-body">

            <%= form_for @grid, url: project_add_grid_path(@project), html: {class: 'form-horizontal'} do |form| %>

              <% if @grid.errors.any? %>
                <h3>Sorry, we couldn't create this contribution because:</h3>
                <ul>
                <% @grid.errors.messages.values.each do |msg| %>
                  <% msg.each do |m| %>
                    <li><%= m %></li>
                  <% end %>
                <% end %>
                </ul>
              <% end %>

              <p class="current_location">Please select your location above.</p>
              <div class="hidden">
                <div class="x-grid">
                  <%= form.label :x_location %>
                  <%= form.select :x_location, 1..12.times {|c| [c, c]} %>
                </div>
                <div class="y-grid">
                  <%= form.label :y_location %>
                  <%= form.select :y_location, 1..8.times {|c| [c, c]} %>
                </div>
              </div>
              <div id="file-uploader">
                <%= form.fields_for @artwork do |af| %>
                  <%= render :partial => "shared/upload", :locals => {:form => af } %>
                <% end %>
              </div>
              <br>
              OR CHOOSE FROM YOUR EXISTING ARTWORK
              <br>
              <br>
              <div class="control-group" id="file-selector">
                <%= render :partial => "shared/selector", :locals => {:form => form } %>
              </div>
              <div class="control-group">
                <%= form.submit :class => "btn btn-primary"%>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
              </div>
            <% end %>

          </div>
        </div>
      </p>

    <% else %>
      <p>Please log in to contribute!</p> 
    <% end %>
  </div>
</div>

<!-- Payment area -->
<div class='text-center'>
  <% project_paid_for = true %>
  <% @project.grids.each do |grid| %>
    <% unless grid.Paidfor %>
      <% project_paid_for = false %>
    <% end %>
  <% end %>

  <% if project_paid_for && @project.grids.length > 0 %>
    <b>Thanks for your payment</b>
    <br>
    <br>
  <% else %>
    <!-- Stripe integration -->
    <%= form_tag charges_path do %>
      <%= hidden_field_tag "project_id", @project.id %>
      <article>
        <label class="amount">
          <span>Amount: $<%= current_user.artworks.length * 10 %>.00</span>
        </label>
      </article>

      <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Checkout",
              data-amount="<%= current_user.artworks.length * 10 * 100 %>">
      </script>
    <% end %>
    <!-- End of Stripe integration -->
  <% end %>
</div>
<!-- End of Payment area -->

<h3 style="background-color:lightblue">
  Updates
</h3>

<div>
  <% @project.grids.order("updated_at DESC").each do |grid| %>
    <div class="row">
      <div class="span2">
        <div class="text-center">
          <% artwork = grid.artwork %>
          <% if artwork %>
            <%= image_tag artwork.file.url, style: "width:80px;height:80px" %>
          <% end %>
        </div>
      </div>
      <div class="span10" style="background-color:white;margin-left:20px">
        <h4 style="margin-left:20px"><%= grid.artwork.title %></h4>
        <b style="margin-left:20px"><%= grid.artwork.user.first_name %></b> contributed <b>£10</b> by adding <%= grid.artwork.title %> to location x:<%= grid.x_location %> y:<%= grid.y_location %>
        <br>
        <p style="color:grey;margin-left:20px">updated <%= time_ago_in_words(grid.updated_at) %> ago</p>
      </div>
    </div>
    <br>
  <% end %>
</div>
